.form-register{
    background: url("Renault-and-Publicis-Conseil-Clio-Hybrid-hero.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;

}
.Card{
    display: flex;
    flex-direction: column; /* Para que los elementos se muestren en 1 sola columna*/
    align-items: center;
    text-align: center;
    height: 87%;
    width: 72%;
    border-radius: 0px;

}
.Card:before{
    content: '';
    position: absolute;
    background: url("Renault-and-Publicis-Conseil-Clio-Hybrid-hero.jpg");
    background-attachment: fixed;
   backdrop-filter: blur(2px);
}


.input-default{
    background: transparent;
    border:0 solid;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin: 1rem;
    padding: 0.5rem;
    transition: 250ms background ease-in;
    width: 37vw;
}
.input-default::placeholder{
    color: white;
}

.font-white{
    color: white;
}


.input-default:focus{
    background: white;
    color: black;
    transition: 250ms background ease-in;
}
input:focus {
    outline: 0 transparent solid;
}


/*TODO hay que tirira el boton y el a al piso, pero con bottom no funciona*/
form>a{
    padding-top: 1vw;
    font-size: 75%;

}
form>button{
    border:0;
    bottom: 0px;
}


