/*TODO checkear lo de la imagen de fondo, si se agrega puede que se rompa,
    ya que el register es muy grande. el clickPath se va a romper siempre :
    https://css-tricks.com/unfortunately-clip-path-path-is-still-a-no-go/
    posibles soluciones : https://www.shapedivider.app/  https://getwaves.io/*/
.input-default{
    background: transparent;
    border:0 solid;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
    margin: 1rem;
    padding: 0.5rem;
    transition: 250ms background ease-in;
    width: 40vw;
}
.input-default::placeholder{
    color: #000000;
}

.input-default:focus{
    background: white;
    color: black;
    transition: 250ms background ease-in;
}

input:focus {
    outline: 0 transparent solid;
}

.card-register{
    flex-direction: column; /* Para que los elementos se muestren en 1 sola columna*/
    align-items: center;
    text-align: center;
    justify-content: flex-end;/*pa tirarlo abajo*/
}

.buttonCTA{
    padding: 0.5rem 3rem;
    margin-bottom: 1rem;
    border:0;
}
