@import "reset.css";

/* Fonts de Renault */
@font-face{
    font-family: "RenaultLife-Bold";
    src: url("/css/font/RenaultLife-Bold.ttf");
}

@font-face{
    font-family: "RenaultLife-Light";
    src: url("/css/font/RenaultLife-Light.ttf");
}

@font-face{
    font-family: "RenaultLife-Regular";
    src: url("/css/font/RenaultLife-Regular.ttf");
}

@font-face{
    font-family: "RenaultLife-BoldItalic";
    src: url("/css/font/RenaultLife-BoldItalic.otf");
}

@font-face{
    font-family: "RenaultLife-Italic";
    src: url("/css/font/RenaultLife-Italic.otf");
}

@font-face{
    font-family: "RenaultLife-LightItalic";
    src: url("/css/font/RenaultLife-LightItalic.otf");
}

:root{
    /*variaciones de amarillo*/
    --yellow-a: #ffcc33;
    --yellow-b: #ffde00;

    /*variaciones de gris*/
    --grey-a: #333333;
    --grey-b: #666666;
    --grey-c: #999999;
    --grey-d: #cccccc;
    --grey-e: #e1e1e1;

    /*variaciones de naranja*/
    --orange-a:#7D2F02;
    --orange-b:#FD9051;
    --orange-c:#FC5E05;
    --orange-d:#7D4728;
    --orange-e:#C94C04;

    /*blanco*/
    --white:#ffffff;

    /*negro*/
    --black:#000000;
    /*TODO help! esta bueno poner la imagen aca?(es el logo provisorio)
    --image-renault-mobile: url(images/renault.png);
    --image-renault-desktop:url(images/Renault_logo_English.png);*/

    font-size: 17px; /* Font size si es mobile */
    font-family: RenaultLife-Light;
}

.Card{
    margin: 0.8rem 0.8rem;
    padding: 0.4rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
    transition: 0.3s;
    border: none;
}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-primary-a{
    background: var(--yellow-c);
}

/*header*/
.header__image{
    margin-top: 1vh;
    margin-left: 0.5vw;
    margin-right: 1vw;
    float:right;
    width: 7vh;
    height: 7vh;
}

.header__titulo{
    float:right;
    /*por si se rompe cambiar a px o porcentajes*/
    margin-top: 3vh;
    margin-right:15vw;
}

/*NAV*/

.header__div{
    display: block;
    position: relative;
    top:50px;
    left: 50px;

    z-index: 1;

    /* esto sirve pa que no se pueda seleccionar texto dentro de esto.*/
    -webkit-user-select: none;
    user-select: none;
}

.header__elementoLista{
    text-decoration: none;
    color: #232323;
}

.header__elementoLista:hover{
    color: tomato;
}

.header__hamburguesa{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    /*pa que aparezca la manito*/
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */


    /*-webkit-touch-callout: none;*/
}

.header__hamburguesaLinea{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--black);
    border-radius: 3px;

    z-index: 1;

    /*da el origen para que se pueda formar la X , es el centro*/
    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.header__hamburguesaLinea:first-child{
    transform-origin: 0% 0%;
}

.header__hamburguesaLinea:nth-last-child(2){
    transform-origin: 0% 100%;
}

.header__hamburguesa:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

.header__hamburguesa:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2,0.2);
}

.header__hamburguesa:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}



.header__menu{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    list-style-type:none;
    -webkit-font-smoothing:antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

.header__menu li{
    padding: 10px 0;
    font-size: 22px;
}
.header__hamburguesa:checked ~ ul
{
    transform: none;
}

/*end NAV*/

/*Estilo de los buttons*/

.buttonCTA{
    font-family: RenaultLife-Bold; 
    color:var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
    padding: 0.5rem 1.5rem;
}

.buttonCTA::after{
    margin-left: 1rem;
    display: inline-block;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.343 185.343" class=""><path d="M51.707 185.343a10.692 10.692 0 0 1-7.593-3.149 10.724 10.724 0 0 1 0-15.175l74.352-74.347L44.114 18.32c-4.194-4.194-4.194-10.987 0-15.175 4.194-4.194 10.987-4.194 15.18 0l81.934 81.934c4.194 4.194 4.194 10.987 0 15.175l-81.934 81.939a10.678 10.678 0 0 1-7.587 3.15z"></path></svg>');
    height: 0.9rem;
    width: 0.9rem;
    transform: translateY(0.2rem) translateX(-0.3rem);	
}

.buttonCTA-Primary{
    background-color: var(--yellow-a);
}

.buttonCTA-Primary:active, .buttonCTA-Primary:hover{
    background-color: var(--yellow-b);
}

.buttonCTA-Secondary{
    background-color: var(--grey-d);
}

.buttonCTA-Secondary:active, .buttonCTA-Secondary:hover{
    background-color: var(--grey-e);
}

/* Fin estilo de los buttons*/